<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
    	<h2><%= model.errors.count %>件のerrorが発生しました。</h2>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

