<h2>Book detail</h2>
<table>
	<thead>
		<tr>
			<td>image</td>
			<td><%= @book.title %></td>
			<td><%= @book.body %></td>
			<td><%= link_to 'Edit', "" %></td>
			<td><%= link_to 'Destroy', ""%></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
		</tr>
	</tbody>
</table>